{% assign recipe = include.recipe %}
{% assign desc = include.desc %}

{% if include.pixelated %}
  {%assign p = "image-rendering: pixelated;" %}
{% else %}
  {%assign p = "" %}
{%endif%}

<div class="crafting-container">
  <div class="crafting-header">
    <h3 id="{{recipe.id}}" class="crafting-title">{{recipe.name}}</h3>
  </div>
  <div class="crafting-body">
    <div style="display: flex">
      <div style="min-width: 136px; max-width: 136px; position: relative; padding-left: 0px">
        <div id="image_wrapper" style="position: relative">
          <img src="/img/gui/item_frame.png" alt="Item Frame" style="width: 120px; image-rendering: pixelated; position: relative; top:0px; left: 10px;">
          <!--<img src="/img/gui/item_background.png" alt="Item BG" style="width: 80px; {{p}} position: absolute; top: 35px; left: 30px;">-->
          <img src="{{recipe.path}}" alt="{{ name }}" style="width: 75px; {{p}} position: absolute; top: 36px; left: 31px;" title="{{recipe.name}}">
        </div>
      </div>
      <div style="padding: 5px; margin-top: 3px; text-align: left">
        {{desc}}

        {% if recipe.tooltip != "" and desc != "" and recipe.tooltip  != desc %}
          <hr style="border-color: rgba(255,255,255,.2);">
        {% endif %}

        {% if recipe.tooltip != "" and recipe.tooltip != desc %}
          {{recipe.tooltip| replace: ",", "<br>" }}
        {% endif %}
      </div>

      {% if recipe.craftingType == "crafting" %}
        {%assign padding = "5" %}
        {%assign size = "26" %}
        {%assign top = "12" %}
        {%assign left = "10" %}

        <div style="min-width: 220px; max-width:220px; position: relative; float: right; margin-top: 15px; margin-left: auto">
          <img id="crafting_table" src="/img/gui/crafting_table.png" alt="Crafting Table" style="width: 420px; {{p}} position: relative; top:0; left: 0;">
          {% if recipe.item0Id contains "coinscoinscoins" %}<a href="../items/#{{recipe.item0Id}}">{% endif%}
            <img id="slot1" src="{{recipe.item0Path}}" alt="{{ itemName }}" style="width: {{size}}px; {{p}} position: absolute; top: {{top}}px; left: {{left}}px;" title="{{recipe.item0}}">
          {% if recipe.item0Id contains "coinscoinscoins" %}</a>{% endif%}

          {% if recipe.item1Id contains "coinscoinscoins" %}<a href="../items/#{{recipe.item1Id}}">{% endif%}
            <img id="slot2" src="{{recipe.item1Path}}" alt="{{ itemName }}" style="width: {{size}}px; {{p}} position: absolute; top: {{top}}px; left: {{left | plus:padding | plus:size}}px;" title="{{recipe.item1}}">
          {% if recipe.item1Id contains "coinscoinscoins" %}</a>{% endif%}

          {% if recipe.item2Id contains "coinscoinscoins" %}<a href="../items/#{{recipe.item2Id}}">{% endif%}
          <img id="slot3" src="{{recipe.item2Path}}" alt="{{ itemName }}" style="width: {{size}}px; {{p}} position: absolute; top: {{top}}px; left: {{left | plus:padding | plus:size | plus: padding | plus: size}}px;" title="{{recipe.item2}}">
          {% if recipe.item2Id contains "coinscoinscoins" %}</a>{% endif%}

          {% if recipe.item3Id contains "coinscoinscoins" %}<a href="../items/#{{recipe.item3Id}}">{% endif%}
          <img id="slot4" src="{{recipe.item3Path}}" alt="{{ itemName }}" style="width: {{size}}px; {{p}} position: absolute; top: {{top | plus:padding | plus:size}}px; left: {{left}}px;" title="{{recipe.item3}}">
          {% if recipe.item3Id contains "coinscoinscoins" %}</a>{% endif%}

          {% if recipe.item4Id contains "coinscoinscoins" %}<a href="../items/#{{recipe.item4Id}}">{% endif%}
          <img id="slot5" src="{{recipe.item4Path}}" alt="{{ itemName }}" style="width: {{size}}px; {{p}} position: absolute; top: {{top | plus:padding | plus:size}}px; left: {{left | plus:padding | plus:size}}px;" title="{{recipe.item4}}">
          {% if recipe.item4Id contains "coinscoinscoins" %}</a>{% endif%}

          {% if recipe.item5Id contains "coinscoinscoins" %}<a href="../items/#{{recipe.item5Id}}">{% endif%}
          <img id="slot6" src="{{recipe.item5Path}}" alt="{{ itemName }}" style="width: {{size}}px; {{p}} position: absolute; top: {{top | plus:padding | plus:size}}px; left: {{left | plus:padding | plus:size | plus: padding | plus: size}}px;" title="{{recipe.item5}}">
          {% if recipe.item5Id contains "coinscoinscoins" %}</a>{% endif%}

          {% if recipe.item6Id contains "coinscoinscoins" %}<a href="../items/#{{recipe.item6Id}}">{% endif%}
          <img id="slot7" src="{{recipe.item6Path}}" alt="{{ itemName }}" style="width: {{size}}px;{{p}} position: absolute; top: {{top | plus:padding | plus:size | plus: padding | plus: size}}px; left: {{left}}px;" title="{{recipe.item6}}">
          {% if recipe.item6Id contains "coinscoinscoins" %}</a>{% endif%}

          {% if recipe.item7Id contains "coinscoinscoins" %}<a href="../items/#{{recipe.item7Id}}">{% endif%}
          <img id="slot8" src="{{recipe.item7Path}}" alt="{{ itemName }}" style="width: {{size}}px; {{p}} position: absolute; top: {{top | plus:padding | plus:size | plus: padding | plus: size}}px; left: {{left | plus:padding | plus:size}}px;" title="{{recipe.item7}}">
          {% if recipe.item7Id contains "coinscoinscoins" %}</a>{% endif%}

          {% if recipe.item8Id contains "coinscoinscoins" %}<a href="../items/#{{recipe.item8Id}}">{% endif%}
          <img id="slot9" src="{{recipe.item8Path}}" alt="{{ itemName }}" style="width: {{size}}px;{{p}} position: absolute; top: {{top | plus:padding | plus:size | plus: padding | plus: size}}px; left: {{left | plus:padding | plus:size | plus: padding | plus: size}}px;" title="{{recipe.item8}}">
          {% if recipe.item8Id contains "coinscoinscoins" %}</a>{% endif%}

          <!-- Parent container for the image and the text -->
          <div style="position: relative; display: inline-block; width: 38px; height: 38px;">
            <!-- Output image -->
            <img id="output" src="{{recipe.path}}" alt="{{ itemName }}" 
                 style="width: 100%; height: 100%; {{p}}" 
                 title="{{recipe.name}} {% if recipe.outputQuantity > 1 %}(x{{recipe.outputQuantity}}){% endif %}">
            <!-- Quantity text (shown only if outputQuantity > 1) -->
            {% if recipe.outputQuantity > 1 %}
              <span style="position: absolute; bottom: 2px; right: 2px; font-size: 12px; color: white; background: rgba(0, 0, 0, 0.5); padding: 1px 3px; border-radius: 3px;">
                x{{recipe.outputQuantity}}
              </span>
            {% endif %}
          </div>
        </div>
      {% elsif recipe.craftingType == "smithing" %}
        {%assign size = "26" %}
        {%assign top = "62" %}
        <div style="min-width: 220px; max-width:220px; position: relative; float: right; margin-top: 15px; margin-left: auto">
          <img id="crafting_table" src="/img/gui/smithing_table.png" alt="Smithing Table" style="width: 420px; image-rendering: pixelated; position: relative; top:0; left: 0;">
          <img id="slot1" src="{{recipe.item0Path}}" alt="{{ itemName }}" style="width: {{size}}px; image-rendering: pixelated; position: absolute; top: {{top}}px; left: 10px ;" title="{{recipe.item0}}">
          <img id="slot2" src="{{recipe.item1Path}}" alt="{{ itemName }}" style="width: {{size}}px; image-rendering: pixelated; position: absolute; top: {{top}}px; left: 87px;" title="{{recipe.item1}}">
          <img id="output" src="{{recipe.path}}" alt="{{ itemName }}" style="width: {{size}}px; image-rendering: pixelated; position: absolute; top: {{top}}px; left: 182px;" title="{{recipe.name}}">
        </div>

      <!-- Furnace Smelthing -->
      {% elsif recipe.craftingType == "smelting" %}
        {% assign size = 26 %}
        {% assign padding = 5 %}
        {% assign top = 12 %}
        {% assign left = 10 %}
      
        <!-- Calculate input and fuel positions -->
        {% assign inputTop = top %}
        {% assign inputLeft = left | plus: size | plus: padding %}
      
        <!-- Fuel position manually aligned to appear below input in furnace GUI -->
        {% assign fuelTop = top | plus: 62 %}  <!-- Adjust this value to align properly -->
        {% assign fuelLeft = inputLeft %}
      
        <div style="min-width: 220px; max-width:220px; position: relative; float: right; margin-top: 15px; margin-left: auto">
          <img id="crafting_table" src="/img/gui/furnace.png" alt ="Furnace" style="width: 420px; {{ p }} position: relative; top:0; left: 0;">
          
          <!-- Input item -->
          <img id="input" src="{{ recipe.item0Path }}" alt="{{ itemName }}" style="width: {{ size }}px; {{ p }} position: absolute; top: {{ inputTop }}px; left: {{ inputLeft }}px;" title="{{ recipe.item0 }}">
          
          <!-- Fuel item (coal) -->
          <img id="fuel" src="/img/items/minecraft/coal.png" alt="Coal" style="width: {{ size }}px; {{ p }} position: absolute; top: {{ fuelTop }}px; left: {{ fuelLeft }}px;" title="Coal">
          
          <!-- Output item -->
          <div style="position: relative; display: inline-block; width: 38px; height: 38px;">
            <!-- Output image -->
            <img id="output" src="{{ recipe.path }}" alt="{{ itemName }}" 
                 style="width: 100%; height: 100%; {{ p }}" 
                 title="{{ recipe.name }} {% if recipe.outputQuantity > 1 %}(x{{ recipe.outputQuantity }}){% endif %}">
            <!-- Quantity text -->
            {% if recipe.outputQuantity > 1 %}
              <span style="position: absolute; bottom: 2px; right: 2px; font-size: 12px; color: white; background: rgba(0, 0, 0, 0.5); padding: 1px 3px; border-radius: 3px;">
                x{{ recipe.outputQuantity }}
              </span>
            {% endif %}
          </div>
        </div>
      {%endif%}
    </div>
  </div>
</div>
